@page "/metodoPago"

    <div class="row">
        <div class="col-xl-6 col-md-12">
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Elige un Método de Pago</h6>
                </div>
                <div class="ms-panel-body">

                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="ms-list ms-list-display">
                                    <li>
                                        <label class="ms-checkbox-wrap ms-checkbox-primary">
                                            <input type="radio" value="" name="radioExample2" checked>
                                            <i class="ms-checkbox-check"></i>
                                        </label>
                                        <span> Efectivo </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="ms-list ms-list-display">
                                    <li>
                                        <label class="ms-checkbox-wrap ms-checkbox-warning">
                                            <input type="radio" value="" name="radioExample2">
                                            <i class="ms-checkbox-check"></i>
                                        </label>
                                        <span> Dinero Electrónico </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

@code {

}
