@page "/mercados"

@inject IJSRuntime js
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@attribute [Authorize(Roles = "admin")]

    <div class="row">
        <div class="col-xl-12">
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <h6>Indice de Mercados autorizados</h6>
                    <div class="form-group mt-3">
                        <a class="btn btn-success" href="mercados/crear">Agregar Mercado</a>
                    </div>
                </div>
                <div class="ms-panel-body">

                    <Paginacion PaginaActual="paginaActual" PaginaSeleccionada="paginaSeleccionada"
                                PaginasTotales="paginasTotales"></Paginacion>

                    <div class="table-responsive">
                        <ListadoGenerico Listado="MercadosAuth">
                            <HayRegistrosCompleto>
                                <table class="table table-hover thead-primary">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID Mercado</th>
                                            <th scope="col">Nombre Mercado</th>
                                            <th scope="col">Editar / Borrar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in MercadosAuth)
                                        {
                                            <tr>
                                                <th scope="row">@item.Id</th>
                                                <td>@item.Nombre</td>
                                                <td>
                                                    <a href='mercados/editar/@item.Id' style="cursor:pointer"><i class='fas fa-pencil-alt text-secondary'></i></a>
                                                    <a @onclick="@(() => BorrarMercado(item))" style="cursor:pointer"><i class='far fa-trash-alt ms-text-danger'></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </HayRegistrosCompleto>
                        </ListadoGenerico>
                    </div>
                </div>
            </div>
        </div>
    </div>

@code {
    public List<Mercado> MercadosAuth { get; set; }
    private int paginaActual = 1;
    private int paginasTotales;

    protected async override Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task paginaSeleccionada(int pagina)
    {
        paginaActual = pagina;
        await Cargar(pagina);
    }

    private async Task Cargar(int pagina = 1)
    {
        var responseHttp = await repositorio.Get<List<Mercado>>($"api/mercados?pagina={pagina}");
        if (!responseHttp.Error)
        {
            var TodoMercados = responseHttp.Response;
            MercadosAuth = TodoMercados.Where(x => x.Autorizado).ToList();
            var conteo = responseHttp.HttpResponseMessage.Headers.GetValues("conteo").FirstOrDefault();
            paginasTotales = int.Parse(responseHttp.HttpResponseMessage.Headers.GetValues("totalPaginas").FirstOrDefault());
        }
    }

    private async Task BorrarMercado(Mercado mercado)
    {
        var confirmar = await js.Confirm($"¿Desea borrar el mercado {mercado.Nombre}?");
        if (confirmar)
        {
            var responseHttp = await repositorio.Delete($"api/mercados/{mercado.Id}");
            if (responseHttp.Error)
            {
                await mostrarMensajes.MostrarMensajeError(await responseHttp.GetBody());
            }
            else
            {
                //Categorias.Remove(categoria);
                await Cargar();
            }
        }
    }
}