@page "/EstadoSolicitud"
@layout NoAuthLayout


<h3>Su Solicitud esta en proceso <br /> , se le notificará cuando este autorizado !</h3>


@code {
    private bool estadoSolicitud { get; set; }
    private string estado = "";
}
