@page "/Registro"
@layout NoAuthLayout

    <div class="row p-4">
        <div class="col-md-12">
            <h2>Registrarme como :</h2>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="ms-card">
                <div class="ms-card-img">
                    <img src="https://via.placeholder.com/530x240" alt="Cliente-img">
                </div>
                <div class="ms-card-body">
                    <h3>Cliente</h3>
                    <a href="registro/Cliente" class="btn btn-pill btn-gradient-danger">REGISTRARME</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="ms-card">
                <div class="ms-card-img">
                    <img src="https://via.placeholder.com/530x240" alt="Mercado-img">
                </div>
                <div class="ms-card-body">
                    <h3>Mercado</h3>
                    <a href="registro/Mercado" class="btn btn-pill btn-gradient-warning">REGISTRARME</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="ms-card">
                <div class="ms-card-img">
                    <img src="https://via.placeholder.com/530x240" alt="Repartidor-img">
                </div>
                <div class="ms-card-body">
                    <h3>Repartidor</h3>
                    <a href="registro/Repartidor" class="btn btn-pill btn-gradient-info">REGISTRARME</a>
                </div>
            </div>
        </div>
    </div>


@code {

}
