@page "/"
@page "/index"

@inject IRepositorio  repositorio
@inject NavigationManager navigationManager

<h1>¿Que tipo de orden deseas?</h1>
<div>
    <h3>Entrega Rápida</h3>
    <button @onclick="GoToEntregaRapida">Aquí</button>
    @*<ListadoProductos Productos="EntregaRapida" />*@
</div>

<div>
    <h3>Entrega Programada</h3>
    <button @onclick="GoToEntregaProgramada">Aquí</button>
    @*<ListadoProductos Productos="EntregaProgramada" />*@
</div>

@*<AuthorizeView Roles="mercado">
    Su mercado Esta Autorizado!
</AuthorizeView>*@

@code {
    private List<Producto> EntregaProgramada;
    private List<Producto> EntregaRapida;

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<HomePageDTO>("api/productos");

        if (httpResponse.Error)
        {
            Console.WriteLine(httpResponse.HttpResponseMessage.StatusCode);
        }
        else
        {
            EntregaProgramada = httpResponse.Response.ProductosEnvioProg;
            EntregaRapida = httpResponse.Response.ProductosEnvioRapido;
        }
    }

    public void GoToEntregaRapida()
    {
        navigationManager.NavigateTo("EntregaRapida");
    }

    public void GoToEntregaProgramada()
    {
        navigationManager.NavigateTo("EntregaProgramada");
    }
}