@page "/"
@page "/index"

@inject IRepositorio  repositorio
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<AuthorizeView Roles="admin,mercado,cliente,repartidor">
    <Authorized>
        <div class="row">
            <div class="col-md-12">
                <h1 class="db-header-title">Bievenido, @userName</h1>
            </div>
        </div>

        <div class="row p-4">
            <div class="col-md-12">
                <h2>¿Que tipo de orden deseas?</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="ms-card">
                    <div class="ms-card-img">
                        <img src="https://via.placeholder.com/530x240" alt="Cliente-img">
                    </div>
                    <div class="ms-card-body">
                        <h3>Entrega rápida</h3>
                        <a href="EntregaRapida" class="btn btn-pill btn-gradient-danger">AQUÍ</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="ms-card">
                    <div class="ms-card-img">
                        <img src="https://via.placeholder.com/530x240" alt="Mercado-img">
                    </div>
                    <div class="ms-card-body">
                        <h3>Entrega Programada</h3>
                        <a href="EntregaRapida" class="btn btn-pill btn-gradient-warning">AQUÍ</a>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <Login/>
    </NotAuthorized>
</AuthorizeView>


@code {

    string userName;

    protected async override Task  OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        userName = authState.User.Identity.Name;
    }
}
