@page "/"
@page "/index"

@inject IRepositorio  repositorio

<h1>Productos</h1>
<div>
    <h3>Entrega Rápida</h3>
    <ListadoProductos Productos="EntregaRapida" />
</div>

<div>
    <h3>Entrega Programada</h3>
    <ListadoProductos Productos="EntregaProgramada" />
</div>

@code {
    private List<Producto> EntregaProgramada;
    private List<Producto> EntregaRapida;

    protected async override Task OnInitializedAsync()
    {
        var httpResponse = await repositorio.Get<HomePageDTO>("api/productos");

        if (httpResponse.Error)
        {
            Console.WriteLine(httpResponse.HttpResponseMessage.StatusCode);
        }
        else
        {
            EntregaProgramada = httpResponse.Response.ProductosEnvioRapido;
            EntregaRapida = httpResponse.Response.ProductosEnvioRapido;
        }
    }
}