@page "/"
@page "/index"

@inject IRepositorio  repositorio
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider


<AuthorizeView Roles="admin,cliente">
    <Authorized>
        <div class="col-md-12 h1">Bievenido @userName</div>
        <div class=" h2 text-center">¿Que tipo de orden deseas? </div>
        <div class="row p-4">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="ms-card  text-center">
                        <div class="ms-card-img ">
                            <img  class="" style="height:180px" src="img/entrega-rapida.jpg" alt="Cliente-img">
                        </div>
                    <div class="ms-card-body">
                         <div class="row align-items-center">
                        <div class="h3 col-8">Entrega rápida</div>
                        <div class="col-4">
                            <a href="EntregaRapida" class="btn btn-pill warm-flame-gradient">AQUÍ</a>
                        </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="ms-card text-center">
                    <div class="ms-card-img">
                        <img style="height:180px" src="img/entrega-programada1.png" alt="Mercado-img">
                    </div>
                    <div class="ms-card-body">
                        <div class="row align-items-center">
                            <div class="h3 col-8 ">Entrega Programada</div>
                            <div class="h2 col-8 ">PROXIMAMENTE</div>
                            <div class="col-4">
                                <a href="EntregaRapida" class="btn btn-pill sunny-morning-gradient disabled">AQUÍ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="repartidor">
    <Authorized>
        <DeliMarket.Client.Pages.Ordens.OrdenesDisponibles/>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="mercado">
    <Authorized>
        <DeliMarket.Client.Pages.Mercados.MisProductos/>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="noauth">
    <Authorized>
        <DeliMarket.Client.Pages.Auth.EstadoSolicitud/>
    </Authorized>
</AuthorizeView>


@code {

    private string userName;

    protected async override Task  OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        userName = authState.User.Identity.Name;
        //var rol = authState.User.Identity.
    }
}
