
<div class="dialog-title">
    <h2>@Detalle.Productomercado.Producto.Titulo</h2>
</div>
<form class="dialog-body">
    <div>
        <label>Cantidad:</label>
        <input type="range" min="1" max="@Detalle.Productomercado.Stock" step="1" @bind="Detalle.Cantidad" @bind:event="oninput" />
        <span class="size-label h5">
            @(Detalle.Cantidad) 
        </span>
    </div>
</form>

<div class="dialog-buttons">
    <button class="btn btn-secondary mr-auto" @onclick="OnCancel">Cancel</button>
    <span class="mr-center">
        Precio: <span class="price">S/ @(Detalle.GetFormattedTotalPrice())</span>
    </span>
    <button class="btn btn-success ml-auto" @onclick="OnConfirm">Agregar a la lista ></button>
</div>

@code {

    [Parameter] public Detalle Detalle { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }

    //protected async override Task OnInitializedAsync()
    //{

    //}
}