@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime


    <main>
        <nav class="navbar justify-content-end red darken-3">

            <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options">
                <li class="ms-nav-item">
                    <a href="login" class="btn btn-pill  juicy-peach-gradient mt-0">Login</a>
                </li>
                <li class="ms-nav-item">
                    <a href="registro" class="btn btn-pill sunny-morning-gradient mt-0">Registro</a>
                </li>
                <li class="ms-nav-item">
                    <a href="/Tienda" class="btn btn-pill young-passion-gradient mt-0">Tienda</a>
                </li>
            </ul>
            <div class="ms-toggler ms-d-block-sm pr-0 ms-nav-toggler" data-toggle="slideDown" data-target="#ms-nav-options">
                <span class="ms-toggler-bar bg-primary"></span>
                <span class="ms-toggler-bar bg-primary"></span>
                <span class="ms-toggler-bar bg-primary"></span>
            </div>
        </nav>
        <div class="ms-content-wrapper ms-auth">
            @Body
        </div>
    </main>

@code{

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InitCosticWidgets();
        }
    }

}