@inject IJSRuntime js
@inject IRepositorio repositorio
@inject IMostrarMensajes mostrarMensajes
@inject NavigationManager navigationManager
@page "/listaordenD"
<h3>Lista de ordenes disponibles</h3>
<div class="row mt-2">
    <table class="table">
        <ListadoGenerico Listado="Ordenes">
            <HayRegistros Context="orden">
                <tr>
                    <td>
                        <div class="col">
                            <h5>@orden.FechaCreacion</h5>
                            Items:
                            <strong>@orden.CantidadTotal</strong>;
                            Total price:
                            <strong>@orden.Montototal</strong>
                        </div>
                    </td>
                    <td>
                        <div class="col">
                            Status: <strong>Disponible</strong>
                        </div>
                    </td>                    
                    <td>
                        <div class="row">                            
                            <div class="col">
                                <button type="button" class="btn btn-warning btn-rounded" @onclick="@(e=> ActualizarEstado(2,orden.Id))">Aceptar</button>
                            </div>                            
                        </div>
                    </td>
                </tr>
            </HayRegistros>
        </ListadoGenerico>
    </table>

</div>



@code {
    [Parameter] public List<ProductoMercado> Productos { get; set; }
    private List<Orden> Ordenes { get; set; }

    protected async  Task Lista()
    {
        var responseHttp = await repositorio.Get<List<Orden>>($"api/Ordenes/ListaOrdenDisponibles");

        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("");
            }
            else
            {
                var mensajeError = await responseHttp.GetBody();
                await mostrarMensajes.MostrarMensajeError(mensajeError);
            }
        }
        else
        {
            Ordenes = responseHttp.Response;
        }
    }
    protected async override Task OnInitializedAsync()
    {
        await Lista();
    }

    protected async Task ActualizarEstado(int estado, int id)
    {
        var rpta = await repositorio.Get<int>($"api/ordenes/ActualizarEstadoOrden/{estado}/{id}");

        if (rpta.Error)
        {
            if (rpta.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("");
            }
            else
            {
                var mensajeError = await rpta.GetBody();
                await mostrarMensajes.MostrarMensajeError(mensajeError);
            }
        }
        else
        {
            await mostrarMensajes.MostrarMensajeExitoso("estado Actualizado");
        }
        await Lista();
    }
}
