@page "/EstadoSolicitud"


<h3>Su Solicitud esta en proceso , se le notificará cuando acabe la cuarentena</h3>


@code {
    private bool estadoSolicitud { get; set; }
    private string estado = "";
}
